<!DOCTYPE HTML>
<html ng-app="playerApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1024,initial-scale=1.0,maximum-scale=1.0" />

	<title>Longitudinal wave</title>

	<link rel="stylesheet" type="text/css" href="assets/css/libs/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/libs/bootstrap-slider.min.css" />

	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />

	<link rel="stylesheet" type="text/css" href="assets/sim/css/sim.css" />
</head>

<body>

	<div id="wrapper" ng-controller="playerCtrl">
		<header>
			<div class="titleBar">Longitudinal wave</div>
			<div class="instructionBar">
				<strong>Instruction:</strong> Press &#60;Start&#62; to see the wave motion. Observe how the particles vibrate as the longitudinal waves pass them. How is the direction of movement of the particles related to the direction of travel of the wave?
			</div>
			<div class="selectionBar_top">
				<div class="formFields">
					<label>Show </label>

					<input type="radio" name="r1" id="r1" value="fourparticles" ng-model="animMode" ng-click="onC1Change($event);"/>
					<label class="input_radio removeMarg" name="r1" id="r1" value="fourparticles" for="r1">4 particles</label>
					
					<input type="radio" name="r2" id="r2" value="chainOfParticles" ng-model="animMode" ng-click="onC2Change($event);"/>
					<label class="input_radio removeMarg" name="r2" id="r2" value="chainOfParticles" for="r2">chain of particles</label>
				
					<span class="actBtns rounded green startsim startBtnML" ng-click="startMove($event)" ng-class="{'disable': !resetActBool}">Start</span>
					<span class="actBtns rounded red" ng-class="{'disable': !resetActBool}" ng-click="resetSim()">Reset</span>
				</div>
			</div>
		</header>
		<section class="middleSection">

			<!-- Mid Right Start Here -->
			<div class="midRight">
				<!-- Stage Area Start Here -->
				<div class="stageArea">
					<div class="experimentArea">
						<div class="directionText">
							<div class="Text1 ">
								<span>direction of vibration of the particles</span>
								<span class="both-side-arrow-drection"></span>
							</div>
							<!-- <p class="Text1" >{{directionOfVibration}} </p>
							<span class="both-side-arrow-drection" ng-show = "oneWayArrowDresc == true"></span> -->
							<div class="vibrationArea">
								<!-- <canvas id="canvas" style="width: 992px;"></canvas> -->
								<div class="imageLongitude1" alt="lku" ng-show = "fourparticle == true"></div>
								<div class="imageLongitude" alt="lku" ng-show = "chainOfParticle == true"></div>
							
							
								<span class="vibrationText">vibrator</span>
								<span class="Text2">direction of travel of the wave</span>
								<span class="one-arrow-drection"></span>

							</div>


							<!-- <p class="Text2">{{directionOfPropagation}}</p>
							<span class="one-arrow-drection" ng-show = "bothWayArrowDresc == true"></span> -->
						</div>						
					</div>
					<div class="imprint"></div>
					<!-- Oxford Logo -->
				</div>
				<!-- Stage Area Ends Here -->
			</div>
			<!-- mid Right Ends Here -->
		</section>
	</div>

	<script type="text/javascript" src="assets/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/libs/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="assets/js/jq_main.js"></script>
	<script type="text/javascript" src="assets/js/ng/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/ng/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
</body>

</html>